<app-header [isModal]="true" title="Actualizar perfil"></app-header>
<ion-content>

	<form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()" class="ion-padding ion-text-center">

		<ion-avatar *ngIf="form.value.image">
			<img [src]="form.value.image" />
		</ion-avatar>

		<ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>

		<br>

		<!-- =========== Take a photo / pick a photo ============== -->
		<ion-button (click)="takeImage()" size="small" shape="round">
			Tomar/Seleccionar una imagen
		</ion-button>

		<!-- =========== Name ============== -->
		<ion-item class="custom-input" lines="none">
			<ion-input type="text" autocomplete="name" label="Nombre" formControlName="name" id="name"
				label-placement="floating">
			</ion-input>
		</ion-item>

		<!-- =========== Biography ============== -->
		<ion-item class="custom-input" lines="none">
			<ion-input type="text" autocomplete="biography" label="Biografia" formControlName="biography" id="biography"
				label-placement="floating">
			</ion-input>
		</ion-item>

		<!-- =========== abilities ============== -->
		<ion-item class="custom-input" lines="none">
			<ion-input type="text" autocomplete="abilities" label="Habilidades" formControlName="abilities" id="abilities"
				label-placement="floating">
			</ion-input>
		</ion-item>

		<!-- =========== country ============== -->
		<ion-item class="custom-input" lines="none">
			<ion-input type="text" autocomplete="country" label="País" formControlName="country" id="country"
				label-placement="floating">
			</ion-input>
		</ion-item>

		<!-- =========== priceForHour ============== -->
		<ion-item class="custom-input" lines="none">
			<ion-input type="number" autocomplete="priceForHour" label="Precio por Hora" formControlName="priceForHour" id="priceForHour"
				label-placement="floating">
			</ion-input>
		</ion-item>
	
		<!-- =========== update profile button ============== -->
		<ion-button [disabled]="form.invalid"
			mode="ios"
			class="ion-margin"
			type="submit">
			Actualizar perfil
			<ion-icon slot="end"
				name="checkmark-circle-outline"></ion-icon>
		</ion-button>

	</form>
</ion-content>