<app-header title="Registro"></app-header>
<ion-content>
	<div class="d-flex-center">
		<form [formGroup]="form"
			(ngSubmit)="submit()"
			(keypress.enter)="submit()"
			class="auth-form">
			<app-logo></app-logo>

      <!--=========== Name ==============-->
			<app-custom-input [control]="form.controls.name"
				autoComplete="name"
				icon="person-outline"
				type="text"
				label="Nombre"></app-custom-input>

			<div *ngIf="form.controls.name.errors && form.controls.name.touched"
				class="validators">
				<div *ngIf="form.controls.name.errors?.['required']">
					El nombre es requerido
				</div>

				<div *ngIf="form.controls.name.errors?.['minLenght']">
					El nombre debe tener al menos 3 caracteres
				</div>
			</div>

      <!--=========== Email ==============-->
      <app-custom-input [control]="form.controls.email"
				autoComplete="email"
				icon="mail-outline"
				type="email"
				label="Correo"></app-custom-input>

			<div *ngIf="form.controls.email.errors && form.controls.email.touched"
				class="validators">
				<div *ngIf="form.controls.email.errors?.['required']">
					El correo es requerido
				</div>

				<div *ngIf="form.controls.email.errors?.['email']">
					Ingrese un correo valido
				</div>
			</div>

      <!--=========== Password ==============-->

			<app-custom-input [control]="form.controls.password"
				icon="lock-closed-outline"
				type="password"
				label="Contraseña"></app-custom-input>

			<div *ngIf="form.controls.password.errors && form.controls.password.touched"
				class="validators">
				<div *ngIf="form.controls.password.errors?.['required']">
					La contraseña es requerida
				</div>
			</div>
			
			<ion-button [disabled]="form.invalid"
				expand="block"
				mode="ios"
				class="submit"
				type="submit">
				Registrate
				<ion-icon slot="end"
					name="person-add-outline"></ion-icon>
			</ion-button>
	
		</form>
	</div>
</ion-content>
